body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}
#reset-view {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid;
  margin-left: 25px;
  margin-top: -10px;
  background-color: white;
  color: black;
}
#reset-view:hover {
  background-color: black;
  color: white;
}
#user-manual {
  color: white;
  position: fixed;
}
#user-manual ul {
  padding: 20px;
  margin-top: 25px;
  border: 1px solid;
  border-radius: 10px;
  margin: 25px;
  padding-inline-start: 35px;
}
#user-manual li {
  padding: 2px 0;
}
